        body {
            font-family: Arial, sans-serif;
            margin: 0;
            background: #f5f6fa;
        }

        header {
            -background: #0a3d62;
            -padding: 15px;
           -color: white;
            -text-align: center;
            -font-size: 20px;
            -font-weight: bold;
        }

        .container {
            padding: 15px;
        }

        .filters {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            gap: 10px;
            margin-bottom: 15px;
        }

        .panel {
            background: white;
            border-radius: 8px;
            padding: 15px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

        #map {
            width: 100%;
            height: 300px;
            margin-top: 10px;
            border-radius: 8px;
        }

        .stats-box {
            margin-top: 10px;
            padding: 10px;
            border-radius: 8px;
            background: #fff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }

        .stat-item {
            text-align:center;
            padding: 10px 0;
            border-bottom: 1px solid #eee;
            font-size: 18px;
        }
        
        .stat-item .title strong{
            display: block;
             min-height: 60px;
        }
        .stat-item span{
            width: 100%;
            display: block;
            font-size: 2.5em;
            text-shadow: 3px 4px 0px #adc3f3;
        }
        .stat-item img{
            max-width:64px;
            max-height:64px;
        }

        .stat-item:last-child {
            border-bottom: none;
        }
        
        .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

label.full{
    width:100%;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #ccc;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 10em auto;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#geoLoader {
    display: none;
    background: #d9ecff;
    border: 1px solid #8ec8ff;
    padding: 15px 20px;
    width: fit-content;
    font-size: 18px;
    color: #004a80;
    border-radius: 8px;
    font-weight: bold;
    margin: 20px auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    width:100%;
}

#geoLoader .dots::after {
    content: "...";
    animation: dotsJump 1s steps(4, end) infinite;
}

@keyframes dotsJump {
    0%   { content: ""; }
    25%  { content: "."; }
    50%  { content: ".."; }
    75%  { content: "..."; }
    100% { content: ""; }
}


.no-pading{
    padding-left:0;
    padding-right:0;
}

.chat-container {
    width: 100%;
    /* max-width: 90%; */
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding-bottom:1em;
}

/* ===== Mensajes ===== */
.chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    color: #eee;
    font-size: 14px;
}

.chat-messages p{
    color:#000;
}

.message {
    margin-bottom: 12px;
    padding: 10px 15px;
    border-radius: 12px;
    max-width: 80%;
    word-wrap: break-word;
    line-height: 1.4;
}

.user-msg {
    background: #0b93f6;
    color: #fff;
    align-self: flex-end;
}

.bot-msg {
    background: #2d2d2d;
    color: #fff;
    align-self: flex-start;
}

/* ===== Input ===== */
.chat-input {
    display: flex;
    
}

.chat-input input {
    flex: 1;
    padding: 12px;
    font-size: 14px;
    border-radius: 15px;
    outline: none;
    color: #000;
    border: #838080 solid 1px;
}

.chat-input button {
    background: #0b93f6;
    color: #fff;
    border: none;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.2s;
}

.chat-input button:hover {
    background: #0a7cd4;
}

/* ===== Procesando efecto ===== */
.processing {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    background: #0b93f6;
    animation: blink 1s infinite;
}

.processing:nth-child(2) {
    animation-delay: 0.2s;
}

.processing:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0%, 80%, 100% { opacity: 0; }
    40% { opacity: 1; }
}

